* {
    margin: 0;
}

/*css para o pagepilling*/
.section {
    /* the important one*/
    background-attachment: fixed; 
    background-size: auto 80%;
    background-position: 50% 0%;
    background-repeat: no-repeat;
}

.section:nth-child(1) {
    background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
}

.section:nth-child(2) {
    background-color:#F6F6F6;
}

.section:nth-child(3) {
    background-color:#F6F6F6;
}

.section:nth-child(4) {
    background-color:#F6F6F6;
}

.section:nth-child(5) {
    background-color:#F6F6F6;
}

.section:nth-child(6) {
    background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
}

/*css para o grid*/
.grid {
    display: grid;
    grid-template-rows: 100vh;
    grid-column-gap: 5%;
    grid-template-columns: 1fr 1fr;
    align-self: center;
    align-items: center;
}

.grid2 {
    display: grid;
    grid-template-rows: 100vh;
    grid-column-gap: 5%;
    grid-template-columns: 1fr 1fr;
    align-self: center;
    align-items: center;
}

/*css do conteudo*/
body {
    font-family: "Roboto", sans-serif;
}

h1 {
    padding-bottom: 1%;
}

p {
    padding-bottom: 3%;
}

.texto-left {
    margin-left: 8em;
    justify-self: center;
}

.texto-right {
    margin-right: 8em;
    justify-self: center;
}

.texto {
    margin: 0 8em;
    justify-self: center;
}

.imagem {
    justify-self: center;
}

.cta {
    /*Tamanho e Posição na página */
    width: auto;
    height: auto;
    align-items: center;

    /*Cor*/
    border-radius: 4px;
    padding: 8px;
    background-color: #F7E54B;
}

.last-page {
    padding: 2em;
    display: flex;
    justify-content: center;
    text-align: center;
}

.last-page .texto p{
    padding: 1em 10em;
    justify-self: center;
    text-align: center;
}


#first-text{
    font-size: 500%;
}

#celular1{
    width: auto;
    height: 550px;
}